{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "eslint-config-airbnb-base",
    "eslint-config-airbnb-base/rules/strict",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.mjs"]}],
    "prettier/prettier": ["error"],
    "no-restricted-syntax": "off"
  },
  "env": {
    "commonjs": true,
    "node": true,
    "mocha": true
  }
}
